.ripple {
  opacity: 0;
  animation: ripple 1s forwards;
}

@keyframes ripple {
  from {
    opacity: 1;
    clip-path: circle(30px at var(--x) var(--y));
  }
  to {
    opacity: 1;
    clip-path: circle(300px at var(--x) var(--y));
  }
}
